<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="new.css">
</head>
<body>
    <h1>New page</h1>
    <form action="/add" method="POST">
        <p>Name: <input type="text" name="name"></p>
        <p>Animal Type: <input type="text" name="type"></p>
        <p>Diet: <input type="text" name="diet"></p>
        <p>Life Span: <input type="number" name="life" placeholder="Average Years"></p>
        <p>Image URL: <input type="text" name="image"></p>
        <button>Add Now</button>
    </form>

</body>
</html>